body{
  color: $color-gray;
  font-size:22px;
  font-family: 'neoretrofillregular';
}
a{
  color: #666;
  font-weight: bold;
  text-decoration: none;
}
h1{
  margin:0px;
  text-transform: uppercase;
  color: #FFF;
  font-size: 110px;    
}
h2{
  font-size:70px;
}
ul{
  margin: 0;
  padding: 0;
}
li{
  list-style:none;
  margin-bottom: 0.5em;

}
.black-button{
	border: 1px solid #fff;
  background: #000;
  text-transform: uppercase;
  font-size: 24px;
  font-family: 'Arial';
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  display: inline-block;
  margin: 0 auto;
  padding: .7em 40px;
  &.pre-order-now{
    padding: .7em 18px;
  }
  &.buy-now{
    padding: .7em 62px;
  }
}
.right{float:right;}
.left{float:left;}
.flex-reverse{flex-direction: row-reverse;}
.highlighted{color:#bd0f52;}
.down-arrow{
  border-top-color: #eeefef;
  content: "";
  z-index: 1000;
  border-top: 15px solid #eeefef;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  display: block;
  right: 0;
  margin: 19px 23px 0 0;
}

/*
.downloads a {
    background: transparent url(../images/sprite-2@2x-8.png) no-repeat left top;
}
.downloads a.google-play {
    background: transparent url(../images/sprite-2@2x-8.png) no-repeat left -30px;
}
.downloads a.windows-store {
    background: transparent url(../images/sprite-2@2x-8.png) no-repeat left -60px;
}
*/