.header-container{
	background:#000;
	border-bottom: solid 1px #fff;
	position: fixed;
	width: 100%;
	z-index:1000;
	padding: 0 3%;
	color:$color-light;
<<<<<<< Updated upstream
	.world-icon{
		font-family: 'icon-worksregular';
		margin: 0 10px 0 0;
		font-size: 1.5vw;
	}
=======
	.black-button{
	padding:30px;
	float:right;
}

@media(min-width:980px){
.black-button{
	display:none;
}	
}


>>>>>>> Stashed changes
}
