.home-page{
	.home-section{  
		padding-bottom: 1500px; 
		background-position: 50% 0;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
	.home-bg {
	  position: relative; 
	  top: -50%; 
	  left: -50%; 
	  width: 200%; 
	  height: 200%;
	  z-index: -10000;
	}
	.home-bg img {
	  position: absolute; 
	  top: 0; 
	  left: 0; 
	  right: 0; 
	  bottom: 0; 
	  margin: auto; 
	  min-width: 50%;
	  min-height: 50%;
	}
}