.main-intro{
	background: url(../images/home-intro-37441813.jpg) 50% 0 fixed;
	background-size: 100%;
    padding-bottom: 1500px;
    text-align: center;
    h1{
    	text-transform: uppercase;
    }
    .main-intro-wrapper{
    	width:50%;
    	margin:0 auto;
    	padding: 25% 0 0 0;
    }
}